DOMAIN=localhost
PGADMIN_DOMAIN=pgadmin.localhost
ACME_EMAIL=admin@example.com
HTTP_PORT=8080
HTTPS_PORT=8443

POSTGRES_DB=travelcontext
POSTGRES_USER=travelcontext
POSTGRES_PASSWORD=travelcontext
POSTGRES_PORT=54329
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin

BACKEND_IMAGE=travelcontext/travelcontext-backend
FRONTEND_IMAGE=travelcontext/travelcontext-frontend
IMAGE_TAG=local

SQLALCHEMY_ECHO=false
OPENTRIPMAP_API_KEY=
OVERPASS_ENDPOINT=https://overpass-api.de/api/interpreter
WIKIPEDIA_LANGUAGE=ru
OPENROUTESERVICE_API_KEY=
